//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 11 08:12:47 2018
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "seg_sel[0]" LOCATE = SITE "P139" LEVEL 1;
COMP "seg_sel[1]" LOCATE = SITE "P137" LEVEL 1;
COMP "seg_sel[2]" LOCATE = SITE "P133" LEVEL 1;
COMP "seg_sel[3]" LOCATE = SITE "P131" LEVEL 1;
COMP "seg_sel[4]" LOCATE = SITE "P126" LEVEL 1;
COMP "seg_sel[5]" LOCATE = SITE "P123" LEVEL 1;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "gnd" LOCATE = SITE "P50" LEVEL 1;
COMP "pwr" LOCATE = SITE "P40" LEVEL 1;
COMP "cclk" LOCATE = SITE "P70" LEVEL 1;
COMP "enter_led[0]" LOCATE = SITE "P1" LEVEL 1;
COMP "enter_led[1]" LOCATE = SITE "P5" LEVEL 1;
COMP "seven_seg[0]" LOCATE = SITE "P127" LEVEL 1;
COMP "seven_seg[1]" LOCATE = SITE "P124" LEVEL 1;
COMP "seven_seg[2]" LOCATE = SITE "P142" LEVEL 1;
COMP "seven_seg[3]" LOCATE = SITE "P140" LEVEL 1;
COMP "seven_seg[4]" LOCATE = SITE "P138" LEVEL 1;
COMP "seven_seg[5]" LOCATE = SITE "P132" LEVEL 1;
COMP "seven_seg[6]" LOCATE = SITE "P134" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "button_col[0]" LOCATE = SITE "P84" LEVEL 1;
COMP "button_col[1]" LOCATE = SITE "P82" LEVEL 1;
COMP "button_col[2]" LOCATE = SITE "P80" LEVEL 1;
COMP "button_col[3]" LOCATE = SITE "P78" LEVEL 1;
COMP "button_col[4]" LOCATE = SITE "P74" LEVEL 1;
COMP "button_col[5]" LOCATE = SITE "P66" LEVEL 1;
COMP "red_led" LOCATE = SITE "P34" LEVEL 1;
COMP "button_row[0]" LOCATE = SITE "P104" LEVEL 1;
COMP "button_row[1]" LOCATE = SITE "P101" LEVEL 1;
COMP "button_row[2]" LOCATE = SITE "P99" LEVEL 1;
COMP "button_row[3]" LOCATE = SITE "P97" LEVEL 1;
COMP "button_row[4]" LOCATE = SITE "P94" LEVEL 1;
COMP "spi_sck" LOCATE = SITE "P43" LEVEL 1;
COMP "button[0]" LOCATE = SITE "P2" LEVEL 1;
COMP "button[1]" LOCATE = SITE "P6" LEVEL 1;
COMP "button[2]" LOCATE = SITE "P8" LEVEL 1;
COMP "button[3]" LOCATE = SITE "P10" LEVEL 1;
COMP "button[4]" LOCATE = SITE "P12" LEVEL 1;
COMP "avr_rx_busy" LOCATE = SITE "P39" LEVEL 1;
COMP "avr_tx" LOCATE = SITE "P55" LEVEL 1;
COMP "spi_ss" LOCATE = SITE "P48" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P44" LEVEL 1;
COMP "guess_led[0]" LOCATE = SITE "P7" LEVEL 1;
COMP "guess_led[1]" LOCATE = SITE "P9" LEVEL 1;
TIMEGRP clk = BEL "state_m/M_count_q_3" BEL "state_m/M_count_q_2" BEL
        "state_m/M_count_q_1" BEL "state_m/M_count_q_0" BEL
        "state_m/M_length_q_3" BEL "state_m/M_length_q_2" BEL
        "state_m/M_length_q_1" BEL "state_m/M_length_q_0" BEL
        "state_m/M_speed_q_2" BEL "state_m/M_speed_q_1" BEL
        "state_m/M_speed_q_0" BEL "state_m/M_game_q_FSM_FFd1" BEL
        "state_m/M_game_q_FSM_FFd2" BEL "state_m/M_game_q_FSM_FFd3" BEL
        "state_m/M_occupied_q_0" BEL "state_m/M_score2_q_3" BEL
        "state_m/M_score2_q_2" BEL "state_m/M_score2_q_1" BEL
        "state_m/M_score2_q_0" BEL "state_m/M_score1_q_3" BEL
        "state_m/M_score1_q_2" BEL "state_m/M_score1_q_1" BEL
        "state_m/M_score1_q_0" BEL "state_m/M_user_q" BEL
        "state_m/M_entry_count_q_1" BEL "state_m/M_entry_count_q_0" BEL
        "state_m/M_entry_count_q_2" BEL "state_m/M_entry_count_q_4" BEL
        "state_m/M_entry_count_q_3" BEL "state_m/M_delay_q_18" BEL
        "state_m/M_delay_q_17" BEL "state_m/M_delay_q_16" BEL
        "state_m/M_delay_q_15" BEL "state_m/M_delay_q_14" BEL
        "state_m/M_delay_q_13" BEL "state_m/M_delay_q_12" BEL
        "state_m/M_delay_q_11" BEL "state_m/M_delay_q_10" BEL
        "state_m/M_delay_q_9" BEL "state_m/M_delay_q_8" BEL
        "state_m/M_delay_q_7" BEL "state_m/M_delay_q_6" BEL
        "state_m/M_delay_q_5" BEL "state_m/M_delay_q_4" BEL
        "state_m/M_delay_q_3" BEL "state_m/M_delay_q_2" BEL
        "state_m/M_delay_q_1" BEL "state_m/M_delay_q_0" BEL
        "state_m/start_edge/M_last_q" BEL "state_m/l_edgedown/M_last_q" BEL
        "state_m/settings/M_incr_q_5" BEL "state_m/settings/M_incr_q_4" BEL
        "state_m/settings/M_incr_q_3" BEL "state_m/settings/M_incr_q_2" BEL
        "state_m/settings/M_incr_q_1" BEL "state_m/settings/M_incr_q_0" BEL
        "state_m/s_edgeup/M_last_q" BEL "state_m/question/read_data_1_1" BEL
        "state_m/question/Mram_ram5" BEL "state_m/question/Mram_ram4" BEL
        "state_m/question/Mram_ram2" BEL "state_m/question/Mram_ram1" BEL
        "state_m/question/read_data_0" BEL "state_m/question/read_data_1" BEL
        "state_m/question/read_data_2" BEL "state_m/question/read_data_3" BEL
        "state_m/question/read_data_4" BEL "state_m/question/read_data_0_1"
        BEL "state_m/question/read_data_2_1" BEL "state_m/question/Mram_ram3"
        BEL "state_m/answer/read_data_4" BEL "state_m/answer/Mram_ram4" BEL
        "state_m/answer/Mram_ram3" BEL "state_m/answer/Mram_ram5" BEL
        "state_m/answer/Mram_ram1" BEL "state_m/answer/read_data_0" BEL
        "state_m/answer/read_data_1" BEL "state_m/answer/read_data_2" BEL
        "state_m/answer/read_data_3" BEL "state_m/answer/Mram_ram2" BEL
        "state_m/l_edgeup/M_last_q" BEL "state_m/s_edgedown/M_last_q" BEL
        "state_m/dm/M_tmr_q_26_1" BEL "state_m/dm/M_tmr_q_26_2" BEL
        "state_m/dm/M_tmr_q_27_1" BEL "state_m/dm/M_tmr_q_27_2" BEL
        "state_m/dm/M_tmr_q_28_1" BEL "state_m/dm/M_tmr_q_28_2" BEL
        "state_m/dm/M_tmr_q_29_1" BEL "state_m/dm/M_tmr_q_29_2" BEL
        "state_m/dm/M_signal_q" BEL "state_m/dm/M_tmr_q_10" BEL
        "state_m/dm/M_tmr_q_11" BEL "state_m/dm/M_tmr_q_12" BEL
        "state_m/dm/M_tmr_q_13" BEL "state_m/dm/M_tmr_q_14" BEL
        "state_m/dm/M_tmr_q_15" BEL "state_m/dm/M_tmr_q_20" BEL
        "state_m/dm/M_tmr_q_16" BEL "state_m/dm/M_tmr_q_21" BEL
        "state_m/dm/M_tmr_q_17" BEL "state_m/dm/M_tmr_q_22" BEL
        "state_m/dm/M_tmr_q_18" BEL "state_m/dm/M_tmr_q_23" BEL
        "state_m/dm/M_tmr_q_19" BEL "state_m/dm/M_tmr_q_24" BEL
        "state_m/dm/M_tmr_q_25" BEL "state_m/dm/M_tmr_q_30" BEL
        "state_m/dm/M_tmr_q_26" BEL "state_m/dm/M_tmr_q_27" BEL
        "state_m/dm/M_tmr_q_28" BEL "state_m/dm/M_tmr_q_29" BEL
        "state_m/dm/M_tmr_q_0" BEL "state_m/dm/M_tmr_q_1" BEL
        "state_m/dm/M_tmr_q_2" BEL "state_m/dm/M_tmr_q_3" BEL
        "state_m/dm/M_tmr_q_4" BEL "state_m/dm/M_tmr_q_5" BEL
        "state_m/dm/M_tmr_q_6" BEL "state_m/dm/M_tmr_q_7" BEL
        "state_m/dm/M_tmr_q_8" BEL "state_m/dm/M_tmr_q_9" BEL
        "state_m/dm/M_state_q" BEL "state_m/dm/M_read_q_0" BEL
        "state_m/dm/M_read_q_1" BEL "state_m/dm/M_read_q_2" BEL
        "state_m/dm/M_read_q_3" BEL "state_m/dm/M_read_q_4" BEL
        "state_m/dm/M_tmr_q_30_1" BEL "state_m/dm/M_tmr_q_30_2" BEL
        "state_m/start_btn/M_ctr_q_19" BEL "state_m/start_btn/M_ctr_q_18" BEL
        "state_m/start_btn/M_ctr_q_17" BEL "state_m/start_btn/M_ctr_q_16" BEL
        "state_m/start_btn/M_ctr_q_15" BEL "state_m/start_btn/M_ctr_q_14" BEL
        "state_m/start_btn/M_ctr_q_13" BEL "state_m/start_btn/M_ctr_q_12" BEL
        "state_m/start_btn/M_ctr_q_11" BEL "state_m/start_btn/M_ctr_q_10" BEL
        "state_m/start_btn/M_ctr_q_9" BEL "state_m/start_btn/M_ctr_q_8" BEL
        "state_m/start_btn/M_ctr_q_7" BEL "state_m/start_btn/M_ctr_q_6" BEL
        "state_m/start_btn/M_ctr_q_5" BEL "state_m/start_btn/M_ctr_q_4" BEL
        "state_m/start_btn/M_ctr_q_3" BEL "state_m/start_btn/M_ctr_q_2" BEL
        "state_m/start_btn/M_ctr_q_1" BEL "state_m/start_btn/M_ctr_q_0" BEL
        "state_m/start_btn/sync/M_pipe_q_1" BEL
        "state_m/start_btn/sync/Mshreg_M_pipe_q_1" BEL
        "state_m/lth_btn_down/M_ctr_q_19" BEL
        "state_m/lth_btn_down/M_ctr_q_18" BEL
        "state_m/lth_btn_down/M_ctr_q_17" BEL
        "state_m/lth_btn_down/M_ctr_q_16" BEL
        "state_m/lth_btn_down/M_ctr_q_15" BEL
        "state_m/lth_btn_down/M_ctr_q_14" BEL
        "state_m/lth_btn_down/M_ctr_q_13" BEL
        "state_m/lth_btn_down/M_ctr_q_12" BEL
        "state_m/lth_btn_down/M_ctr_q_11" BEL
        "state_m/lth_btn_down/M_ctr_q_10" BEL "state_m/lth_btn_down/M_ctr_q_9"
        BEL "state_m/lth_btn_down/M_ctr_q_8" BEL
        "state_m/lth_btn_down/M_ctr_q_7" BEL "state_m/lth_btn_down/M_ctr_q_6"
        BEL "state_m/lth_btn_down/M_ctr_q_5" BEL
        "state_m/lth_btn_down/M_ctr_q_4" BEL "state_m/lth_btn_down/M_ctr_q_3"
        BEL "state_m/lth_btn_down/M_ctr_q_2" BEL
        "state_m/lth_btn_down/M_ctr_q_1" BEL "state_m/lth_btn_down/M_ctr_q_0"
        BEL "state_m/lth_btn_down/sync/M_pipe_q_1" BEL
        "state_m/lth_btn_down/sync/Mshreg_M_pipe_q_1" BEL
        "state_m/detect/M_counter_q_20" BEL "state_m/detect/M_counter_q_19"
        BEL "state_m/detect/M_counter_q_18" BEL
        "state_m/detect/M_counter_q_17" BEL "state_m/detect/M_counter_q_16"
        BEL "state_m/detect/M_counter_q_15" BEL
        "state_m/detect/M_counter_q_14" BEL "state_m/detect/M_counter_q_13"
        BEL "state_m/detect/M_counter_q_12" BEL
        "state_m/detect/M_counter_q_11" BEL "state_m/detect/M_counter_q_10"
        BEL "state_m/detect/M_counter_q_9" BEL "state_m/detect/M_counter_q_8"
        BEL "state_m/detect/M_counter_q_7" BEL "state_m/detect/M_counter_q_6"
        BEL "state_m/detect/M_counter_q_5" BEL "state_m/detect/M_counter_q_4"
        BEL "state_m/detect/M_counter_q_3" BEL "state_m/detect/M_counter_q_2"
        BEL "state_m/detect/M_counter_q_1" BEL "state_m/detect/M_counter_q_0"
        BEL "state_m/detect/M_button_col_cycler_q_5" BEL
        "state_m/detect/M_button_col_cycler_q_4" BEL
        "state_m/detect/M_button_col_cycler_q_3" BEL
        "state_m/detect/M_button_col_cycler_q_2" BEL
        "state_m/detect/M_button_col_cycler_q_1" BEL
        "state_m/detect/M_button_col_cycler_q_0" BEL
        "state_m/spd_btn_up/M_ctr_q_19" BEL "state_m/spd_btn_up/M_ctr_q_18"
        BEL "state_m/spd_btn_up/M_ctr_q_17" BEL
        "state_m/spd_btn_up/M_ctr_q_16" BEL "state_m/spd_btn_up/M_ctr_q_15"
        BEL "state_m/spd_btn_up/M_ctr_q_14" BEL
        "state_m/spd_btn_up/M_ctr_q_13" BEL "state_m/spd_btn_up/M_ctr_q_12"
        BEL "state_m/spd_btn_up/M_ctr_q_11" BEL
        "state_m/spd_btn_up/M_ctr_q_10" BEL "state_m/spd_btn_up/M_ctr_q_9" BEL
        "state_m/spd_btn_up/M_ctr_q_8" BEL "state_m/spd_btn_up/M_ctr_q_7" BEL
        "state_m/spd_btn_up/M_ctr_q_6" BEL "state_m/spd_btn_up/M_ctr_q_5" BEL
        "state_m/spd_btn_up/M_ctr_q_4" BEL "state_m/spd_btn_up/M_ctr_q_3" BEL
        "state_m/spd_btn_up/M_ctr_q_2" BEL "state_m/spd_btn_up/M_ctr_q_1" BEL
        "state_m/spd_btn_up/M_ctr_q_0" BEL
        "state_m/spd_btn_up/sync/M_pipe_q_1" BEL
        "state_m/spd_btn_up/sync/Mshreg_M_pipe_q_1" BEL
        "state_m/seg/ctr/M_ctr_q_18" BEL "state_m/seg/ctr/M_ctr_q_17" BEL
        "state_m/seg/ctr/M_ctr_q_16" BEL "state_m/seg/ctr/M_ctr_q_15" BEL
        "state_m/seg/ctr/M_ctr_q_14" BEL "state_m/seg/ctr/M_ctr_q_13" BEL
        "state_m/seg/ctr/M_ctr_q_12" BEL "state_m/seg/ctr/M_ctr_q_11" BEL
        "state_m/seg/ctr/M_ctr_q_10" BEL "state_m/seg/ctr/M_ctr_q_9" BEL
        "state_m/seg/ctr/M_ctr_q_8" BEL "state_m/seg/ctr/M_ctr_q_7" BEL
        "state_m/seg/ctr/M_ctr_q_6" BEL "state_m/seg/ctr/M_ctr_q_5" BEL
        "state_m/seg/ctr/M_ctr_q_4" BEL "state_m/seg/ctr/M_ctr_q_3" BEL
        "state_m/seg/ctr/M_ctr_q_2" BEL "state_m/seg/ctr/M_ctr_q_1" BEL
        "state_m/seg/ctr/M_ctr_q_0" BEL "state_m/spd_btn_down/M_ctr_q_19" BEL
        "state_m/spd_btn_down/M_ctr_q_18" BEL
        "state_m/spd_btn_down/M_ctr_q_17" BEL
        "state_m/spd_btn_down/M_ctr_q_16" BEL
        "state_m/spd_btn_down/M_ctr_q_15" BEL
        "state_m/spd_btn_down/M_ctr_q_14" BEL
        "state_m/spd_btn_down/M_ctr_q_13" BEL
        "state_m/spd_btn_down/M_ctr_q_12" BEL
        "state_m/spd_btn_down/M_ctr_q_11" BEL
        "state_m/spd_btn_down/M_ctr_q_10" BEL "state_m/spd_btn_down/M_ctr_q_9"
        BEL "state_m/spd_btn_down/M_ctr_q_8" BEL
        "state_m/spd_btn_down/M_ctr_q_7" BEL "state_m/spd_btn_down/M_ctr_q_6"
        BEL "state_m/spd_btn_down/M_ctr_q_5" BEL
        "state_m/spd_btn_down/M_ctr_q_4" BEL "state_m/spd_btn_down/M_ctr_q_3"
        BEL "state_m/spd_btn_down/M_ctr_q_2" BEL
        "state_m/spd_btn_down/M_ctr_q_1" BEL "state_m/spd_btn_down/M_ctr_q_0"
        BEL "state_m/spd_btn_down/sync/M_pipe_q_1" BEL
        "state_m/spd_btn_down/sync/Mshreg_M_pipe_q_1" BEL
        "state_m/lth_btn_up/M_ctr_q_19" BEL "state_m/lth_btn_up/M_ctr_q_18"
        BEL "state_m/lth_btn_up/M_ctr_q_17" BEL
        "state_m/lth_btn_up/M_ctr_q_16" BEL "state_m/lth_btn_up/M_ctr_q_15"
        BEL "state_m/lth_btn_up/M_ctr_q_14" BEL
        "state_m/lth_btn_up/M_ctr_q_13" BEL "state_m/lth_btn_up/M_ctr_q_12"
        BEL "state_m/lth_btn_up/M_ctr_q_11" BEL
        "state_m/lth_btn_up/M_ctr_q_10" BEL "state_m/lth_btn_up/M_ctr_q_9" BEL
        "state_m/lth_btn_up/M_ctr_q_8" BEL "state_m/lth_btn_up/M_ctr_q_7" BEL
        "state_m/lth_btn_up/M_ctr_q_6" BEL "state_m/lth_btn_up/M_ctr_q_5" BEL
        "state_m/lth_btn_up/M_ctr_q_4" BEL "state_m/lth_btn_up/M_ctr_q_3" BEL
        "state_m/lth_btn_up/M_ctr_q_2" BEL "state_m/lth_btn_up/M_ctr_q_1" BEL
        "state_m/lth_btn_up/M_ctr_q_0" BEL
        "state_m/lth_btn_up/sync/M_pipe_q_1" BEL
        "state_m/lth_btn_up/sync/Mshreg_M_pipe_q_1" BEL
        "state_m/check/M_checking_q_FSM_FFd1" BEL
        "state_m/check/M_checking_q_FSM_FFd2" BEL "state_m/check/M_timer_q_15"
        BEL "state_m/check/M_timer_q_14" BEL "state_m/check/M_timer_q_13" BEL
        "state_m/check/M_timer_q_12" BEL "state_m/check/M_timer_q_11" BEL
        "state_m/check/M_timer_q_10" BEL "state_m/check/M_timer_q_9" BEL
        "state_m/check/M_timer_q_8" BEL "state_m/check/M_timer_q_7" BEL
        "state_m/check/M_timer_q_6" BEL "state_m/check/M_timer_q_5" BEL
        "state_m/check/M_timer_q_4" BEL "state_m/check/M_timer_q_3" BEL
        "state_m/check/M_timer_q_2" BEL "state_m/check/M_timer_q_1" BEL
        "state_m/check/M_timer_q_0" BEL "state_m/check/M_aval_q_4" BEL
        "state_m/check/M_aval_q_3" BEL "state_m/check/M_aval_q_2" BEL
        "state_m/check/M_aval_q_1" BEL "state_m/check/M_aval_q_0" BEL
        "state_m/check/M_val_q_3" BEL "state_m/check/M_val_q_2" BEL
        "state_m/check/M_val_q_1" BEL "state_m/check/M_val_q_0" BEL
        "state_m/check/M_alufn_q_0" BEL "state_m/check/M_bval_q_4" BEL
        "state_m/check/M_bval_q_3" BEL "state_m/check/M_bval_q_2" BEL
        "state_m/check/M_bval_q_1" BEL "state_m/check/M_bval_q_0" BEL
        "state_m/check/M_entry_count_q_2" BEL
        "state_m/check/M_entry_count_q_1" BEL
        "state_m/check/M_entry_count_q_0" BEL
        "state_m/check/M_entry_count_q_4" BEL
        "state_m/check/M_entry_count_q_3" BEL "clk_BUFGP/BUFG" BEL
        "reset_cond/M_stage_q_3" BEL "reset_cond/M_stage_q_2" BEL
        "reset_cond/M_stage_q_1" BEL "reset_cond/M_stage_q_0";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

