NET "seven_seg[0]" LOC = P127;
NET "seven_seg[0]" IOSTANDARD = LVTTL;
NET "seven_seg[1]" LOC = P124;
NET "seven_seg[1]" IOSTANDARD = LVTTL;
NET "seven_seg[2]" LOC = P142;
NET "seven_seg[2]" IOSTANDARD = LVTTL;
NET "seven_seg[3]" LOC = P140;
NET "seven_seg[3]" IOSTANDARD = LVTTL;
NET "seven_seg[4]" LOC = P138;
NET "seven_seg[4]" IOSTANDARD = LVTTL;
NET "seven_seg[5]" LOC = P132;
NET "seven_seg[5]" IOSTANDARD = LVTTL;
NET "seven_seg[6]" LOC = P134;
NET "seven_seg[6]" IOSTANDARD = LVTTL;

NET "seg_sel[0]" LOC = P139;
NET "seg_sel[0]" IOSTANDARD = LVTTL;
NET "seg_sel[1]" LOC = P137;
NET "seg_sel[1]" IOSTANDARD = LVTTL;
NET "seg_sel[2]" LOC = P133;
NET "seg_sel[2]" IOSTANDARD = LVTTL;
NET "seg_sel[3]" LOC = P131;
NET "seg_sel[3]" IOSTANDARD = LVTTL;
NET "seg_sel[4]" LOC = P126;
NET "seg_sel[4]" IOSTANDARD = LVTTL;
NET "seg_sel[5]" LOC = P123;
NET "seg_sel[5]" IOSTANDARD = LVTTL;

NET "button[0]" LOC = P2;
NET "button[0]" IOSTANDARD = LVTTL;
NET "button[0]" PULLDOWN;
NET "button[1]" LOC = P6;
NET "button[1]" IOSTANDARD = LVTTL;
NET "button[1]" PULLDOWN;
NET "button[2]" LOC = P8;
NET "button[2]" IOSTANDARD = LVTTL;
NET "button[2]" PULLDOWN;
NET "button[3]" LOC = P10;
NET "button[3]" IOSTANDARD = LVTTL;
NET "button[3]" PULLDOWN;
NET "button[4]" LOC = P12;
NET "button[4]" IOSTANDARD = LVTTL;
NET "button[4]" PULLDOWN;

NET "red_led" LOC = P34;
NET "red_led" IOSTANDARD = LVTTL;
NET "pwr" LOC = P40;
NET "pwr" IOSTANDARD = LVTTL;
NET "gnd" LOC = P50;
NET "gnd" IOSTANDARD = LVTTL;

NET "enter_led[0]" LOC = P1;
NET "enter_led[0]" IOSTANDARD = LVTTL;
NET "enter_led[1]" LOC = P5;
NET "enter_led[1]" IOSTANDARD = LVTTL;
NET "guess_led[0]" LOC = P7;
NET "guess_led[0]" IOSTANDARD = LVTTL;
NET "guess_led[1]" LOC = P9;
NET "guess_led[1]" IOSTANDARD = LVTTL;

NET "button_col[0]" LOC = P84;
NET "button_col[0]" IOSTANDARD = LVTTL;
NET "button_col[1]" LOC = P82;
NET "button_col[1]" IOSTANDARD = LVTTL;
NET "button_col[2]" LOC = P80;
NET "button_col[2]" IOSTANDARD = LVTTL;
NET "button_col[3]" LOC = P78;
NET "button_col[3]" IOSTANDARD = LVTTL;
NET "button_col[4]" LOC = P74;
NET "button_col[4]" IOSTANDARD = LVTTL;
NET "button_col[5]" LOC = P66;
NET "button_col[5]" IOSTANDARD = LVTTL;

NET "button_row[0]" LOC = P104;
NET "button_row[0]" IOSTANDARD = LVTTL;
NET "button_row[0]" PULLDOWN;
NET "button_row[1]" LOC = P101;
NET "button_row[1]" IOSTANDARD = LVTTL;
NET "button_row[1]" PULLDOWN;
NET "button_row[2]" LOC = P99;
NET "button_row[2]" IOSTANDARD = LVTTL;
NET "button_row[2]" PULLDOWN;
NET "button_row[3]" LOC = P97;
NET "button_row[3]" IOSTANDARD = LVTTL;
NET "button_row[3]" PULLDOWN;
NET "button_row[4]" LOC = P94;
NET "button_row[4]" IOSTANDARD = LVTTL;
NET "button_row[4]" PULLDOWN;
